header{
	padding: 20px;
    line-height: 40px;
    background-color: #0c5d91;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}

.content{
	width:80%;
	margin:0 auto;
	border:1px solid #eee;
	padding: 20px;
}