.labGrid ul.grid,
.labGrid ul.grid li{
	list-style-type:none;
	width: 100%;
}

.labGrid ul.grid{
	display: table;
	margin: 0;
	padding: 0
}

.labGrid li.row{
	display: table-row;
}

.labGrid li.row span.cell{
	display: table-cell;
	border-bottom:1px solid #ccc;
	padding: 5px 10px;
}

.labGrid li.header{
	font-weight: bold;
	font-size: 14px;
}

.labGrid li.row span.sortable{
	cursor: pointer
}

.labGrid li.row{
	transition: background-color 0.7s ease;
	cursor:default;
}

.labGrid li.body:hover{
	background-color:rgba(0, 154, 189, 0.2);
}

.labGrid .action-header{
	background: #f6f6f6;
    width: 100%;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 5px;
}

.labGrid .action-header .search-box{
	padding: 6px 6px;
    border: 1px solid #ddd;
    float: right;
    font-size: 12px;
    width: 23%;
}

.labGrid .pagination-container nav{
	float: right;
}

.labGrid  .header-container{
	padding-right: 12px;
}

.labGrid ::-webkit-scrollbar {
    width: 12px;
}
 
.labGrid ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
.labGrid ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}