<div>
	<header-directive headertext="UI Reusable Components"></header-directive>
	<div class="content">
		<h3>Grid</h3>

		<h4>Grid example : Server side</h4>
		<h5>Selected Row :</h5> <pre>{{selectedServerRow}}</pre>
		<h6>Search Query: </h6> <pre>{{params}}</pre>

		<div ng-if="flag">
			<grid-directive 
				class = "myExampleGrid"
				grid = "serverGridData"
				rowselect = "onServerRowSelect(row)"
				callserver = "callServer(params)"
				pagesize = "100"
				pagepos = "both"
				view = "grid"
				server = "true"
				params = "params"
				switchview = true>
				
			</grid-directive>
		</div>














		<h4>Grid example : Client side</h4>
		<h5>Selected Row :</h5> <pre>{{selectedClientRow}}</pre>
		<grid-directive 
			class="myExampleGrid"
			grid="gridData"
			rowselect="onClientRowSelect(row)"
			pagesize="100"
			pagepos="both"
			view="grid"
			switchview=true>
			
		</grid-directive>




		
	</div>
</div>