<div class="labGrid clearfix">
	
	<!-- =================================
		Top Pagination starts here
	=================================== -->

	<div class="pagination-container" ng-if="(pagePos=='top' || pagePos=='both') && server != 'true'">
		<nav>
			<ul class="pagination">
				<li ng-class="{'disabled': curPage == 0}">
					<a href="#" aria-label="Previous" ng-click="prev($event)">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li ng-repeat="(i, page) in pages" ng-class="{'active': curPage == i}"><a href="#" ng-click="updatePage(i, $event)">{{i+1}}</a></li>

				<li ng-class="{'disabled': curPage == pages.length-1}">
					<a href="#" aria-label="Next" ng-click="next($event)">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>


	<div class="pagination-container" ng-if="(pagePos=='top' || pagePos=='both') && server == 'true'">
		<nav>
			<ul class="pagination">
				<li ng-class="{'disabled': currentPage == 0}">
					<a href="#" aria-label="Previous" ng-click="prev($event)">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li ng-repeat="(i, page) in pageArray" ng-class="{'active': currentPage == i}"><a href="#" ng-click="callServer(i, $event)">{{i+1}}</a></li>

				<li ng-class="{'disabled': currentPage == pageArray.length}">
					<a href="#" aria-label="Next" ng-click="next($event)">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<!-- =================================
		Top Pagination ends here
	=================================== -->

	<!-- =================================
		Action container starts here
	=================================== -->

	<div class="action-header">
		<div class="btn-group grid-switcher" role="group" ng-if="switchView">
			<button type="button" class="btn btn-default" ng-class="{'selected' : view=='grid'}" ng-click="changeView('grid')">Grid</button>
			<button type="button" class="btn btn-default" ng-class="{'selected' : view=='list'}" ng-click="changeView('list')">List</button>
		</div>

		<input type="text" ng-change="search()" placeholder="Filter..." class="search-box" ng-model="searchKey" />
	</div>

	<!-- =================================
		Action container ends here
	=================================== -->

	<!-- =================================
		Grid view ends here
	=================================== -->

	<div class="grid-view" ng-if="view=='grid' || view==null">
		<div class="header-container">
			<ul class="grid">
				<li class="header row">
					<span class="cell" ng-repeat="(i, header) in grid.headerData" ng-click="sortMe(header)" ng-class="{true:'sortable'}[header.sort]" style="width: {{header.width}}">
						{{header.label}} <span ng-if="header.direction.length > 0"><i ng-class="{asc:'glyphicon glyphicon-arrow-up', desc:'glyphicon glyphicon-arrow-down'}[header.direction]"></i></span>
					</span>
				</li>
			</ul>
		</div>

		<div class="grid-container">
			<ul class="grid">
				<li class="row body" 
					ng-repeat="row in pageToShow" 
					ng-click="rowselect({row: row})">
					<span class="cell" ng-repeat="(i, item) in row" style="width: {{grid.headerData[i].width}}">{{item}}</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- =================================
		Grid view ends here
	=================================== -->

	<!-- =================================
		List view starts here
	=================================== --> 

	<div class="list-view" ng-if="view=='list'">
		<ul class="list-container">
			<li class="list" 
				ng-repeat="row in pageToShow"
				ng-click="rowselect({row: row})">
				<ul class="ticket">
					<li ng-repeat="(i, item) in row"><strong>{{i.charAt(0).toUpperCase()}}{{i.slice(1, i.length)}} :</strong> {{item}}</li>
				</ul>
			</li>
		</ul>
	</div>

	<!-- =================================
		List view ends here
	=================================== -->

	<!-- =================================
		Bottom Pagination starts here
	=================================== -->

	<div class="pagination-container" ng-if="(pagePos=='top' || pagePos=='both') && server != 'true'">
		<label class="items-page">Items per page: <input type="text" ng-value="userPaging" ng-blur="itemsPerPage(userPaging)" ng-model="userPaging" /></label>
		<nav>
			<ul class="pagination">
				<li ng-class="{'disabled': curPage == 0}">
					<a href="#" aria-label="Previous" ng-click="prev($event)">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>

				<li ng-repeat="(i, page) in pages" ng-class="{'active': curPage == i}"><a href="#" ng-click="updatePage(i, $event)">{{i+1}}</a></li>

				<li ng-class="{'disabled': curPage == pages.length-1}">
					<a href="#" aria-label="Next" ng-click="next($event)">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<!-- =================================
		Bottom pagination ends here
	=================================== -->

</div>




