<div>
	<header-directive headertext="UI Reusable Components"></header-directive>
	<div class="content">
		<p><a href="#/">Go to home</a></p>

		<h3>Logger</h3>
		<p>Logger is a small utility library. It makes API call to log messages over splunk.</p>
		
		<button ng-click="logMe()">Log some random string</button>
		
		<h4>Log</h4>
		<pre>

logger.log("Your message to log will go here");
		</pre>

		<h4>Warn</h4>
		<pre>

logger.warn("Your message to log will go here");
		</pre>

		<h4>Error</h4>
		<pre>

logger.error("Your message to log will go here");
		</pre>

	</div>
</div>